# Análise dados Enem MG

In [1]:
import pandas as pd
from pandasql import sqldf
import numpy as np
import os
pysqldf = lambda q: sqldf(q, globals())

## Importantado Dataset

In [2]:
enem_2019_mg = pd.read_csv(
"../datasets/MICRODADOS_ENEM_2019_MG.csv",
sep = ";", decimal=".", encoding='latin1'
)

In [3]:
enem_2019_mg.describe()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q005
count,5.388960e+05,5.388960e+05,538896.0,5.388960e+05,538896.0,538896.000000,538896.000000,538896.000000,538896.000000,5.227400e+05,...,393872.000000,538896.000000,414346.000000,414346.000000,414346.000000,414346.000000,414346.000000,414346.000000,414346.000000,538896.000000
mean,2.508770e+06,1.900035e+11,2019.0,3.134395e+06,31.0,22.024361,1.087078,2.071778,1.031299,3.152104e+06,...,546.796208,0.425234,1.105212,124.647758,127.689998,119.292331,126.173922,99.186477,596.990486,3.750833
std,1.505627e+06,1.505757e+06,0.0,2.248739e+04,0.0,7.458167,0.428067,1.006767,0.210176,2.484819e+05,...,115.072018,0.494379,0.678323,32.395614,43.923177,40.975168,38.812983,60.673716,193.028261,1.354242
min,1.044000e+03,1.900010e+11,2019.0,3.100104e+06,31.0,4.000000,0.000000,0.000000,0.000000,1.100023e+06,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.344319e+06,1.900023e+11,2019.0,3.111200e+06,31.0,18.000000,1.000000,1.000000,1.000000,3.106705e+06,...,451.800000,0.000000,1.000000,120.000000,120.000000,100.000000,100.000000,60.000000,500.000000,3.000000
50%,2.498504e+06,1.900035e+11,2019.0,3.135100e+06,31.0,19.000000,1.000000,2.000000,1.000000,3.134202e+06,...,531.400000,0.000000,1.000000,120.000000,120.000000,120.000000,120.000000,100.000000,600.000000,4.000000
75%,3.966499e+06,1.900050e+11,2019.0,3.152501e+06,31.0,23.000000,1.000000,3.000000,1.000000,3.153400e+06,...,629.800000,1.000000,1.000000,140.000000,160.000000,140.000000,140.000000,140.000000,720.000000,4.000000
max,5.095260e+06,1.900061e+11,2019.0,3.172202e+06,31.0,91.000000,4.000000,5.000000,4.000000,5.300108e+06,...,985.500000,1.000000,9.000000,200.000000,200.000000,200.000000,200.000000,200.000000,1000.000000,20.000000

## Análise

### 1 - Qual é a média da nota em matemática de todos os alunos mineiros?

In [4]:
enem_2019_mg["NU_NOTA_MT"].mean()

546.7962076512125

In [5]:
print(
    pysqldf("SELECT AVG(NU_NOTA_MT) as mean FROM enem_2019_mg")
)

         mean
0  546.796208

### 2- Qual é a média da nota em Linguagens e Códigos de todos os alunos mineiros?

In [6]:
enem_2019_mg["NU_NOTA_LC"].mean()

531.2155500475544

In [7]:
print(
    pysqldf("SELECT AVG(NU_NOTA_LC) as mean FROM enem_2019_mg")
)

        mean
0  531.21555

### 3 - Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO mineiros?

In [8]:
enem_2019_mg[enem_2019_mg["TP_SEXO"]=="F"]["NU_NOTA_CH"].mean()

515.1270983575349

In [9]:
print(
    pysqldf("SELECT AVG(NU_NOTA_CH) as mean FROM enem_2019_mg WHERE TP_SEXO = 'F'")
)

         mean
0  515.127098

### 4 - Qual é a média da nota em Ciências Humanas dos alunos do sexo MASCULINO?

In [10]:
enem_2019_mg[enem_2019_mg["TP_SEXO"]=="M"]["NU_NOTA_CH"].mean()

529.6982704731574

In [11]:
print(
    pysqldf("SELECT AVG(NU_NOTA_CH) as mean FROM enem_2019_mg WHERE TP_SEXO = 'M'")
)

        mean
0  529.69827

### 5 - Qual é a média da nota em Matemática dos alunos do sexo FEMININO que moram na cidade de Montes Claros?

In [12]:
enem_2019_mg.loc[
    (enem_2019_mg["NO_MUNICIPIO_RESIDENCIA"]=="Montes Claros") 
    & (enem_2019_mg["TP_SEXO"]=="F")
]["NU_NOTA_MT"].mean()

525.4776724249901

In [13]:
print(
    pysqldf("SELECT AVG(NU_NOTA_MT) as mean FROM enem_2019_mg WHERE TP_SEXO = 'F' AND NO_MUNICIPIO_RESIDENCIA = 'Montes Claros'")
)

         mean
0  525.477672

### 6 - Qual é a média da nota em Matemática dos alunos do município de Sabará que possuem TV por assinatura na residência?

In [14]:
enem_2019_mg.loc[
    (enem_2019_mg["NO_MUNICIPIO_RESIDENCIA"]=="Sabará") 
    & (enem_2019_mg["Q021"]=="B")
]["NU_NOTA_MT"].mean()

543.2927556818183

In [15]:
print(
    pysqldf("SELECT AVG(NU_NOTA_MT) as mean FROM enem_2019_mg WHERE NO_MUNICIPIO_RESIDENCIA = 'Sabará' AND Q021 = 'B'")
)

         mean
0  543.292756

### 7 - Qual é a média da nota em Ciências Humanas dos alunos mineiros que possuem dois fornos micro-ondas em casa??

In [16]:
enem_2019_mg.loc[
    (enem_2019_mg["Q016"]=="C")
]["NU_NOTA_CH"].mean()

557.2765986394558

In [17]:
print(
    pysqldf("SELECT AVG(NU_NOTA_CH) as mean FROM enem_2019_mg WHERE Q016 = 'C'")
)

         mean
0  557.276599

### 8 - Qual é a nota média em Matemática dos alunos mineiros cuja mãe completou a pós-graduação?

In [18]:
enem_2019_mg.loc[
    (enem_2019_mg["Q002"]=="G")
]["NU_NOTA_MT"].mean()

620.007062070985

In [19]:
print(
    pysqldf("SELECT AVG(NU_NOTA_MT) as mean FROM enem_2019_mg WHERE Q002 = 'G'")
)

         mean
0  620.007062

### 9 - Qual é a nota média em Matemática dos alunos de Belo Horizonte e de Conselheiro Lafaiete?

In [20]:
enem_2019_mg.loc[
    (enem_2019_mg["NO_MUNICIPIO_RESIDENCIA"]=="Belo Horizonte") 
    | (enem_2019_mg["NO_MUNICIPIO_RESIDENCIA"]=="Conselheiro Lafaiete") 
]["NU_NOTA_MT"].mean()

578.0392265100068

In [21]:
print(
    pysqldf("SELECT AVG(NU_NOTA_MT) as mean FROM enem_2019_mg WHERE NO_MUNICIPIO_RESIDENCIA = 'Belo Horizonte' OR NO_MUNICIPIO_RESIDENCIA = 'Conselheiro Lafaiete'")
)

         mean
0  578.039227

### 10 - Qual é a nota média em Ciências Humanas dos alunos mineiros que moram sozinhos?

In [23]:
enem_2019_mg.loc[
    (enem_2019_mg["Q005"]==1)
]["NU_NOTA_CH"].mean()

534.4573388609205

In [25]:
print(
    pysqldf("SELECT AVG(NU_NOTA_CH) as mean FROM enem_2019_mg WHERE Q005 = 1")
)

         mean
0  534.457339

### 11 - Qual é a nota média em Ciências Humanas dos alunos mineiros cujo pai completou Pós graduação e possuem renda familiar entre RS 8.982,01 e RS 9.980,00.

In [26]:
enem_2019_mg.loc[
    (enem_2019_mg["Q001"]=='G')
    & (enem_2019_mg["Q006"]=='M')
]["NU_NOTA_CH"].mean()

586.7231663685159

In [27]:
print(
    pysqldf("SELECT AVG(NU_NOTA_CH) as mean FROM enem_2019_mg WHERE Q001 = 'G' AND Q006 = 'M'")
)

         mean
0  586.723166

### 12 - Qual é a nota média em Matemática dos alunos do sexo Feminino que moram em Lavras e escolheram “Espanhol” como língua estrangeira?

In [38]:
enem_2019_mg.loc[
    (enem_2019_mg["NO_MUNICIPIO_RESIDENCIA"]=="Lavras") 
    & (enem_2019_mg["TP_LINGUA"]==1)
    & (enem_2019_mg["TP_SEXO"]=="F")
]["NU_NOTA_MT"].mean()

510.80950782997775

In [39]:
print(
    pysqldf("SELECT AVG(NU_NOTA_MT) as mean FROM enem_2019_mg WHERE NO_MUNICIPIO_RESIDENCIA = 'Lavras' AND TP_LINGUA = 1 AND TP_SEXO = 'F'")
)

         mean
0  510.809508

### 13 - Qual é a nota média em Matemática dos alunos do sexo Masculino que moram em Ouro Preto?

In [30]:
enem_2019_mg.loc[
    (enem_2019_mg["NO_MUNICIPIO_RESIDENCIA"]=="Ouro Preto") 
    & (enem_2019_mg["TP_SEXO"]=="M")
]["NU_NOTA_MT"].mean()

555.0832520325198

In [31]:
print(
    pysqldf("SELECT AVG(NU_NOTA_MT) as mean FROM enem_2019_mg WHERE NO_MUNICIPIO_RESIDENCIA = 'Ouro Preto' AND TP_SEXO = 'M'")
)

         mean
0  555.083252

### 14 - Qual é a nota média em Ciências Humanas dos alunos surdos?

In [32]:
enem_2019_mg.loc[
    (enem_2019_mg["IN_SURDEZ"]==1) 
]["NU_NOTA_CH"].mean()

435.38796296296283

In [33]:
print(
    pysqldf("SELECT AVG(NU_NOTA_CH) as mean FROM enem_2019_mg WHERE IN_SURDEZ = 1")
)

         mean
0  435.387963

### 15 - Qual é a nota média em Matemática dos alunos do sexo FEMININO, que moram em Belo Horizonte, Sabará, Nova Lima e Betim e possuem dislexia?

In [40]:
enem_2019_mg.loc[
    (
        (enem_2019_mg["NO_MUNICIPIO_RESIDENCIA"]=="Belo Horizonte")
        | (enem_2019_mg["NO_MUNICIPIO_RESIDENCIA"]=="Sabará")
        | (enem_2019_mg["NO_MUNICIPIO_RESIDENCIA"]=="Nova Lima")
        | (enem_2019_mg["NO_MUNICIPIO_RESIDENCIA"]=="Betim")
    )
    & (enem_2019_mg["TP_SEXO"]=='F')
    & (enem_2019_mg["IN_DISLEXIA"]==1)
]["NU_NOTA_MT"].mean()

582.1935483870968

In [41]:
print(
    pysqldf("SELECT AVG(NU_NOTA_MT) as mean FROM enem_2019_mg WHERE NO_MUNICIPIO_RESIDENCIA IN ('Belo Horizonte', 'Sabará', 'Nova Lima', 'Betim') AND TP_SEXO = 'F' AND IN_DISLEXIA = 1")
)

         mean
0  582.193548