# ETL Enade

In [1]:
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

### Download Dataset

In [2]:
def downalod_dataset():
    data_url = 'http://download.inep.gov.br/microdados/microdados_educacao_superior_2019.zip'
    filebytes = BytesIO(
        requests.get(data_url).content
    )
    zipped_file = zipfile.ZipFile(filebytes)

    dir_path = '../datasets/enade2019'
    os.makedirs(dir_path, exists_ok=True)
    zipped_file.extractall(dir_path)
    
# downalod_dataset()

## Carregando dataset

In [3]:
enade_df = pd.read_csv(
    '../datasets/enade2019/2019/3.DADOS/microdados_enade_2019.txt', 
    sep = ';', 
    decimal= ','
)

In [5]:
enade_df.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Analisando a Nota Geral

In [8]:
enade_df.NT_GER.describe()

count    390091.000000
mean         44.076610
std          14.542059
min           0.000000
25%          33.200000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

### % Nulos

In [10]:
enade_df.NT_GER.isnull().sum() / enade_df.shape[0] * 100

10.102781554628628

### Media por Região

In [21]:
enade_df.groupby('CO_REGIAO_CURSO').agg({
    'NT_GER': 'mean',
    'NT_FG': 'mean',
    'NT_CE': 'mean'
})

                    NT_GER      NT_FG      NT_CE
CO_REGIAO_CURSO
1                40.282753  37.119037  41.320522
2                43.788555  40.057649  45.015455
3                44.016319  40.144793  45.290297
4                45.747187  40.082428  47.618845
5                44.604609  39.180022  46.396032